@font-face {
    font-family: 'main';
    src: url("../font/Iran_Font/ttf/IRAN.ttf") format('truetype');
}
:root{
    --primary: #ffb624;
    --primary-light:#fff49d;
    --bs-secondary:#892fc8;
}
html,
body {
    font-family: 'main', SansSerif, serif;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    z-index: 3;
    padding-top: 56px;
    position: relative;
}
.before{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.before .b-primary{
    position: absolute;
    top: 100px;
    left:-100px;
    width: 200px;
    height: 200px;
    background: #526886;
    filter: blur(80px);
    border-radius: 100%;
}
.before .b-success{
    position: absolute;
    top: 200px;
    right:100px;
    width: 75px;
    height: 75px;
    filter: blur(30px);
    background: #00a048;
    border-radius: 100%;
}
.before .b-success-1{
    position: absolute;
    top: 80vh;
    right:50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    background: #00a048;
    border-radius: 100%;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}
.navbar-theme{
    background: none;
}
.navbar-theme .nav-item{
    padding: 10px;
}
.navbar-theme .nav-link{
    font-weight: 500;
    color: black!important;
}
.navbar-theme .nav-link.active{
    color: var(--primary)!important;
}
.navbar-theme .nav-link.select{
    color:white!important;
    border-radius: 10rem;
    padding: 8px 15px!important;
    background: linear-gradient(0deg,#ffa200, #ffcb00);
    box-shadow: 0 15px 20px -10px #ffcb00;
}
.navbar-toggler{
    padding: 5px 7px;
    display: block;
    background: var(--bs-secondary);
    color: white;
}
.navbar-brand{
    font-weight: 900;
    color: #303c5b;
}